* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: chartreuse url(now.jpg) no-repeat center center/cover;
}
.container {
  width: 20rem;
  align-items: center;
  height: 20rem;
  background-color: rgb(236, 245, 247, 0.5);
  border-radius: 50%;
  /* border: 0.2rem solid black; */
  position: relative;
}
.container:hover {
  transform: scale(1.5);
  background-color: chartreuse;
}

.container .number {
  --rotation: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  transform: rotate(var(--rotation));
}
.container .number1 {
  --rotation: 30deg;
  color: rgb(15, 53, 180);
}
.container .number2 {
  --rotation: 60deg;
  color: rgb(255, 69, 1);
}
.container .number3 {
  color: black;
  --rotation: 90deg;
}
.container .number4 {
  --rotation: 120deg;
  color: rgb(11, 255, 133);
}
.container .number5 {
  --rotation: 150deg;
  color: rgb(251, 255, 20);
}
.container .number6 {
  color: black;
  --rotation: 180deg;
}
.container .number7 {
  --rotation: 210deg;
  color: rgb(15, 70, 252);
}
.container .number8 {
  --rotation: 240deg;
  color: rgb(5, 255, 130);
}
.container .number9 {
  color: black;
  --rotation: 270deg;
}
.container .number10 {
  --rotation: 300deg;
  color: rgb(255, 68, 0);
}
.container .number11 {
  --rotation: 330deg;
  color: rgb(93, 240, 220);
}
.container .number12 {
  color: black;
}
.container .hand {
  --rotation: 0;
  position: absolute;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  z-index: 10;
}
.container::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.container .hand.second {
  width: 3px;
  height: 40%;
  background-color: red;
}
.container .hand.minute {
  width: 7px;
  height: 35%;
  background-color: black;
}
.container .hand.hour {
  width: 10px;
  height: 30%;
  background-color: black;
}
